

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: #f4f6f8;
}